@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&family=Montserrat:wght@400;500;600;700&display=swap');

$font-title: 'Hind', sans-serif;
$font-body: 'Montserrat', sans-serif;

$color1: #b5d333;
$color2: #f0f6d6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // background: $color1;
  background: white;
  font-family: $font-body;
  font-style: normal;
  font-weight: 500;
}

h1 {
  font-family: $font-title;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
