@import './settings.scss';
@import './components/navbar';
@import './components/button';

/**
* Style of others elemnts in the homepage
*/

.banner {
  background-color: black;
  display: flex;
  justify-content: space-between;

  &__left {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 145px 20px 145px 50px;

    h1 {
      color: $color1;
      font-family: $font-montserrat;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 35px;
    }

    p {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 75px;
    }
  }

  &__right {
    img {
      overflow: hidden;
    }
  }
}

.discount {
  margin: 60px 75px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-family: $font-hind;
  text-align: center;

  &__card {
    width: 28%;
    background-color: $color2;
    margin: 0 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 7px 25px 17px rgba(0, 0, 0, 0.04);
  }

  &__label {
    background-color: $color1;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;

    &--card2 {
      margin: 30px 0;
    }

    &--card3 {
      margin: 25% 0;
    }
  }

  &__button {
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;

    img {
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
  }
}

.section1,
.section2 {
  background-color: $color2;
  display: flex;
  padding: 55px 40px;

  &__right {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    // justify-content: space-between;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    font-family: $font-montserrat;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 20px;
    font-family: $font-hind;
    margin-bottom: 70px;
  }
}

.recap {
  margin: 70px 80px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-family: $font-hind;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    img {
      width: 115px;
      height: 115px;
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 101.1%;
  }

  &__subtitle {
    margin-top: 5px;
    font-size: 20px;
  }
}

.activities {
  margin: 130px 100px;

  &__title {
    font-size: 36px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 700;
    color: $color1;
    margin-bottom: 30px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;

    img:hover {
      filter: grayscale(95%);
    }
  }

  &__text {
    background-color: $color1;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
}

.section2 {
  background-color: black;
  color: white;
  margin-top: 230px;

  &__left {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__right {
    img {
      position: relative;
      bottom: 31%;
    }
  }
}
