@import './settings.scss';
@import './components/navbar';

/**
* Style of others elemnts in the homepage
*/

.banner {
  background-color: black;
  display: flex;

  &__left {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 140px 60px;

    h1 {
      color: $color1;
      font-family: $font-body;
      font-size: 65px;
    }
  }

  &__right {
    img {
      width: 850px;
    }
  }
}

.button {
  background-color: $color1;
  color: black;
  border-radius: 50px;
}
